/* Universal Styles */

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #212121;
}

body {
  display: flex;
  background-color: white;
  width: 1200px;
  padding: 0 0;
  margin: 0 0;
}

/* Header */

#headercontainer{
  display: flex;
  align-items: center;
  align-content: center;
  height: 64px;
  width: 1200px;
  margin-top: 4px;
  margin-right: 24px;
  margin-left: 24px;
}

#headercontainer .headerlogo{
  height: 4rem;
  width: 4rem;
}

img {
  height: 4rem;
  width: 4rem;
}

#headercontainer .colmar {
  font-size: 2rem;
  font-weight: bold;
}

#headercontainer .academy {
  font-size: 2rem;
  opacity: .5;
  flex-grow: 1;
}

#headernavigation {
  display: flex;
  width: auto;
  padding-right: 0.5rem;
}

#headernavigation li {
  display: inline;
}

#headernavigation li a{
  color: #212121;
  text-decoration: none;
  margin-left: 1rem;
}

/* Learn Section */

#learnsection {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 63px;
  background-color: lightgray;
  width: 1200px;
}

#learnsection .bannerimage {
  width: 60%;
  margin: 32px 24px;
}

#learnsection .bannerimage img {
  display: block;
  height: 100%;
  width: 100%;
}

#learnsection .learnsomething {
  position: inline-flex;
  height: 12%;
  width: 40%;
  margin-top: 10rem;
}

#learnsection .learnsomething h1{
  font-weight: bold;
  font-size: 2.5rem;
}

#learnsection .learnsomething h3 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

#learnsection .startherebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  opacity: 0.85;
  height: 32px;
  width: 347px;
}

#learnsection .startherebutton span {
  color: white;
  text-align: center;
}

/* Practice Section */

#practicesection {
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: white;
  margin-top: 40rem;
  height: 35rem;
  width: 1200px;
}

#practicesection .practiceimage {
  width: 58%;
  height: 68%;
}

#practicesection .practiceimage img {
  display: block;
  height: 100%;
  width: 100%;
  margin: 32px 24px;
}

#practicesection .hurt {
  margin-left: 24px;
}

#practicesection .hurt h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 24px;
}

#practicesection .hurt p {
  margin-bottom: 2rem;
  opacity: 0.5;
}

#practicesection .hurt span {
    font-weight: bold;
}

#practicesection .info {
  display: flex;
  margin-top: 32px;
  margin-left: 50px;
  width: 35%;
}

#practicesection .info .infoimages {
  display: block;
  width: 35%;
}


#practicesection .info .infoimages img{
  display: block;
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100%;
  padding-bottom: 32px;
}

#practicesection .info .infolinks {
  display: block;
  margin-left: 16px;
  width: 65%;
}

#practicesection .info .infolinks .date {
  display: block;
  position: relative;
  height: 26.75%;
  width: 100%;
  margin-bottom: 32px;
}

#practicesection .info .infolinks .campus {
  display: block;
  position: relative;
  height: 26.75%;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 32px;
}

#practicesection .info .infolinks .guestlectures {
  display: block;
  position: relative;
  height: 26.75%;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

#practicesection .info .infolinks .date h3 {
  font-weight: 600;
  padding-top: 1.75rem;
  padding-bottom: 1rem;
}

#practicesection .info .infolinks .campus h3 {
  font-weight: 600;
  padding-top: 1.75rem;
  padding-bottom: 1rem;
}

#practicesection .info .infolinks .guestlectures h3 {
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

#practicesection .info .infolinks .date p {
  opacity: 0.5;
  padding-bottom: 1rem;
}

#practicesection .info .infolinks .campus p {
  opacity: 0.5;
  padding-bottom: 1rem;
}

#practicesection .info .infolinks .guestlectures p {
  opacity: 0.5;
  padding-bottom: 1rem;
  line-height: 1rem;
}

#practicesection .info .infolinks .date a {
  text-decoration: none;
}

#practicesection .info .infolinks .campus a {
  text-decoration: none;
}

#practicesection .info .infolinks .guestlectures a {
  text-decoration: none;
}
/* Courses Section */

#courses {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80rem;
  height: 50rem;
  width: 1200px;
  background-color: lightgray;
}

#courses h1 {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  height: 2rem;
  width: 100%;
  text-align: center;
  padding-top: 32px;
}

#courses h3 {
  font-weight: 600;
  margin-left: 16px;
  padding-bottom: 1rem;
}

#courses h4 {
  margin-left: 16px;
  padding-bottom: 8px;
  opacity: 0.5;
}

#courses p {
  margin-left: 16px;
  line-height: 150%;
  opacity: 0.5;
}

#courses img {
  height: auto;
  width: 100%;
  margin-bottom: 1rem;
}

#courses .software {
  background-color: white;
  height: 40%;
  width: 25%;
  margin-left: 72px;
  margin-right: 32px;
  padding-top: 0px;
}

#courses .computerart {
  background-color: white;
  height: 40%;
  width: 25%;
  margin-right: 32px;
  padding-top: 0px;
}

#courses .design {
  background-color: white;
  height: 40%;
  width: 25%;
  margin-right: 72px;
  padding-top: 0px;
}

#courses .data {
  background-color: white;
  height: 40%;
  width: 25%;
  margin-left: 72px;
  margin-right: 32px;
  padding-top: 0px;
}

#courses .business {
  background-color: white;
  height: 40%;
  width: 25%;
  margin-right: 32px;
  padding-top: 0px;
}

#courses .marketing {
  background-color: white;
  height: 40%;
  width: 25%;
  margin-right: 72px;
  padding-top: 0px;
}

/* Thesis Section */

#thesissection {
  display: flex;
  flex-direction: row;
  position: absolute;
  flex-wrap: wrap;
  background-color: white;
  margin-top: 130rem;
  margin-bottom: 2rem;
  height: 35rem;
  width: 1200px;
}
#thesissection h1 {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    height: 2rem;
    width: 100%;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }


#thesissection .reimaginevideo {
  width: 58%;
  height: 68%;
}

#thesissection .reimaginevideo video{
  display: block;
  height: 100%;
  width: 100%;
  margin: 0px 0px 24px 18px;
}

#thesissection .reimaginevideo .reimaginetext {
  margin-left: 24px;
}

#thesissection .reimaginevideo .reimaginetext h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

#thesissection .reimaginevideo .reimaginetext p {
  margin-bottom: 2rem;
  opacity: 0.5;
}

#thesissection .exhibitinfo {
  display: flex;
  margin-left: 40px;
  width: 35%;
}

#thesissection .exhibitinfo .exhibitinfoimages {
  display: block;
  width: 35%;
}

#thesissection .exhibitinfo .exhibitinfoimages img {
  display: block;
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100%;
  padding-bottom: 32px;
}

#thesissection .exhibitinfo .exhibitinfolinks {
  display: block;
  margin-left: 16px;
  width: 65%;
}

#thesissection .exhibitinfo .exhibitinfolinks .fisma{
  display: block;
  position: relative;
  height: 26.75%;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 32px;
}

#thesissection .exhibitinfo .exhibitinfolinks .nowandthen {
  display: block;
  position: relative;
  height: 26.75%;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 32px;
}

#thesissection .exhibitinfo .exhibitinfolinks .fisma h3 {
  font-weight: 600;
  line-height: 1.5rem;
}

#thesissection .exhibitinfo .exhibitinfolinks .nowandthen h3 {
  font-weight: 600;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#thesissection .exhibitinfo .exhibitinfolinks .fisma p {
  line-height: 1.5;
  opacity: 0.5;
}

#thesissection .exhibitinfo .exhibitinfolinks .nowandthen p {
  opacity: 0.5;
}

/* Footer */

#footercontainer {
display: flex;
align-items: center;
align-content: center;
height: 64px;
width: 1200px;
margin-top: 7rem;
margin-right: 24px;
margin-left: 24px;
opacity: 0.5;
}

#footercontainer span {
  flex-grow: 1;
}


#footercontainer .termspriv {
  display: flex;
  width: auto;
  padding-right: 0.5rem;
}

#footercontainer .termspriv li {
  display: inline;
}

#footercontainer .termspriv li a{
  color: #212121;
  text-decoration: none;
  margin-left: 1rem;
}

/* Media Queries for header content */


@media only screen and (min-width: 480px) {
 #headercontainer #mobilenavigation {
   visibility:hidden;
   align-content: center;
 }
 #headercontainer #headernavigation {
   visibility: visible;
 }

}

@media only screen and (max-width: 480px) {
 #headercontainer #mobilenavigation {
   height: 64px;
   visibility: visible;
   align-content: center;
 }
 #headercontainer #headernavigation {
   display: none;
 }

}
