/* Universal Styles */

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #212121;
}

body {
  display: flex;
  background-color: white;
  width: 1200px;
  padding: 0 0;
  margin: 0 0;
}

/* Header */
#headercontainer{
  display: flex;
  align-items: center;
  align-content: center;
  height: 64px;
  width: 1200px;
  margin-top: 4px;
  margin-right: 24px;
  margin-left: 24px;
}

#headercontainer .headerlogo{
  height: 4rem;
  width: 4rem;
}

img {
  height: 4rem;
  width: 4rem;
}

#headercontainer .colmar {
  font-size: 2rem;
  font-weight: bold;
}

#headercontainer .academy {
  font-size: 2rem;
  opacity: .5;
  flex-grow: 1;
}

#headernavigation {
  display: flex;
  width: auto;
  padding-right: 0.5rem;
}

#headernavigation li {
  display: inline;
}

#headernavigation li a{
  color: #212121;
  text-decoration: none;
  margin-left: 1rem;
}

/* Learn Section */

#learnsection {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 63px;
  background-color: lightgray;
  width: 1200px;
}

#learnsection .bannerimage {
  width: 60%;
  margin: 32px 24px;
}

#learnsection .bannerimage img {
  display: block;
  height: 100%;
  width: 100%;
}

#learnsection .learnsomething {
  position: inline-flex;
  height: 12%;
  width: 40%;
  margin-top: 10rem;
}

#learnsection .learnsomething h1{
  font-weight: bold;
  font-size: 2.5rem;
}

#learnsection .learnsomething h3 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

#learnsection .startherebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  opacity: 0.85;
  height: 32px;
  width: 347px;
}

#learnsection .startherebutton span {
  color: white;
  text-align: center;
}

/* Practice Section */

#practicesection {
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: white;
  margin-top: 40rem;
  height: 35rem;
  width: 1200px;
}

#practicesection .practiceimage {
  width: 58%;
  height: 68%;
}

#practicesection .practiceimage img {
  display: block;
  height: 100%;
  width: 100%;
  margin: 32px 24px;
}

#practicesection .hurt {
  margin-left: 24px;
}

#practicesection .hurt h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 24px;
}

#practicesection .hurt p {
  margin-bottom: 2rem;
  opacity: 0.5;
}

#practicesection .hurt span {
    font-weight: bold;
}

#practicesection .info {
  display: flex;
  margin-top: 32px;
  margin-left: 50px;
  width: 35%;
}

#practicesection .info .infoimages {
  display: block;
  width: 35%;
}


#practicesection .info .infoimages img{
  display: block;
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100%;
  padding-bottom: 32px;
}

#practicesection .info .infolinks {
  display: block;
  margin-left: 16px;
  width: 65%;
}

#practicesection .info .infolinks .date {
  display: block;
  position: relative;
  height: 26.75%;
  width: 100%;
  margin-bottom: 32px;
}

#practicesection .info .infolinks .campus {
  display: block;
  position: relative;
  height: 26.75%;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 32px;
}

#practicesection .info .infolinks .guestlectures {
  display: block;
  position: relative;
  height: 26.75%;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

#practicesection .info .infolinks .date h3 {
  font-weight: 600;
  padding-top: 1.75rem;
  padding-bottom: 1rem;
}

#practicesection .info .infolinks .campus h3 {
  font-weight: 600;
  padding-top: 1.75rem;
  padding-bottom: 1rem;
}

#practicesection .info .infolinks .guestlectures h3 {
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

#practicesection .info .infolinks .date p {
  font-size: 0.75rem;
  padding-bottom: 1rem;
}

#practicesection .info .infolinks .campus p {
  font-size: 0.75rem;
  padding-bottom: 1rem;
}

#practicesection .info .infolinks .guestlectures p {
  font-size: 0.75rem;
  padding-bottom: 1rem;
  line-height: 1rem;
}

#practicesection .info .infolinks .date a {
  font-size: 0.75rem;
  text-decoration: none;
}

#practicesection .info .infolinks .campus a {
  font-size: 0.75rem;
  text-decoration: none;
}

#practicesection .info .infolinks .guestlectures a {
  font-size: 0.75rem;
  text-decoration: none;
}
/* Courses Section */

/* Thesis Section */

/* Footer */
